body {
    /* font-family: 'Urbanist', sans-serif; */
    font-family: 'Indie Flower', cursive;
    background-color: rgba(32, 97, 69, 0.105);
}
thead {
    font-size: 20px;
}
tr {
    font-size: 18px;
}
td {
    background-color: white;
}
.container {
    background-color: white;
    border-radius: 30px;
}
.bg-forestGreen {
    background-color:rgb(7, 85, 61); 
    color: white;
}
.table>tbody>tr>td,
.table>tbody>tr>th {
  border-top: none;
}
#sortExplanation {
    font-size: 15px;
    font-style: italic;
}
#title {
    font-weight: bolder;
}
#checkComplete {
    /* margin-right: 13px; */
    text-align: center;
}

